

<ion-content [fullscreen]="true" force-overscroll="false" class="has-tabs"> 
  
  
  <p class="styled-food-text">ChoOsE yOUr <span>FavouRitE</span> foOd 😋 </p>
  <ion-searchbar [(ngModel)]="searchTerm" 
                 (ionInput)="searchProducts()" 
                 placeholder="Search..."
                 showClearButton="true"
                 class="custom-searchbar">
  </ion-searchbar>


  <!-- Fixed Tabs -->
  <div class="tabs-container">
    <ion-segment scrollable class="custom-segment" slot="fixed">
      <ion-segment-button *ngFor="let category of categories" 
                          (click)="onCategoryChange(category)" 
                          layout="icon-top" 
                          mode="md" 
                          class="category-button">
        <ion-label>{{ category | uppercase }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Product Grid -->
  <div class="product-grid">
    <ion-card *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.ImgPath && product.ImgPath.trim() !== '' ? product.ImgPath : 'https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'" 
           (error)="onImageError($event)" class="product-image" />
      <ion-card-content>
        <h2 class="product-name">{{ product.NameOF | uppercase }}</h2>
        <div class="price-section">
          <span class="discounted-price">Rs.{{ product.SellingPrice | number:'1.2-2' }}</span>
          <span class="original-price" *ngIf="product.OriginalPrice">Rs.{{ product.OriginalPrice | number:'1.2-2' }}</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-title class="custom-title">SenszeQRMenuX</ion-title>
  </ion-toolbar>
</ion-footer>

